<%- include('header') %>

<div class="container">
    <h3> My class schedul
        <br /><br />
        <p>You can enter the time to filter</p>
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <br />
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>TIME/WEEK</th>
                    <th>MONDAY</th>
                    <th>TUESDAY</th>
                    <th>WEDNESDAY</th>
                    <th>THURSDAY</th>
                    <th>FRIDAY</th>
                    <th>SATURDAY</th>
                </tr>
            </thead>
            <tbody id="myTable">
                <tr>
                    <td>0800~0850</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>0900~0950</td>
                    <td></td>
                    <td>ON DUTY</td>
                    <td></td>
                    <td></td>
                    <td>ON DUTY</td>
                    <td></td>
                </tr>
                <tr>
                    <td>1010~1100</td>
                    <td>Wireless Network<br />EECS128</td>
                    <td>ON DUTY</td>
                    <td></td>
                    <td></td>
                    <td>ON DUTY</td>
                    <td></td>
                </tr>
                <tr>
                    <td>1110~1200</td>
                    <td>Wireless Network<br />EECS128</td>
                    <td>ON DUTY</td>
                    <td></td>
                    <td></td>
                    <td>ON DUTY</td>
                    <td></td>
                </tr>
                <tr>
                    <td>1210~1300</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>1320~1410</td>
                    <td></td>
                    <td></td>
                    <td>Communication Theory<br />DELTA216</td>
                    <td></td>
                    <td>Wireless Network<br />EECS 128</td>
                    <td></td>
                </tr>
                <tr>
                    <td>1420~1510</td>
                    <td></td>
                    <td></td>
                    <td>Communication Theory<br />DELTA216</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>1530~1620</td>
                    <td>Wireless Communication System<br />DELTA217</td>
                    <td></td>
                    <td></td>
                    <td>Communication Theory<br />DELTA216</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>1630~1720</td>
                    <td>Wireless Communication System<br />DELTA217</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>1730~1820</td>
                    <td></td>
                    <td></td>
                    <td>Wireless Communication System<br />DELTA217</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
</div>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<%- include('footer') %>